:root {

  --color-button-green: #bbf330;
  --color-dark-green: #7eb101;
  --color-yellow-main: #ffe550;
  --color-black: #2c2c2c;
  --color-white: #fefefe;
  --color-shadow-fruit: radial-gradient(#2f583f 0%, #696969 100%);
  --color-grad-one: linear-gradient(to bottom, #fe88b3 0%, #ff4d8d 100%);
  --color-grad-one: linear-gradient(
    to bottom,
    #fdfdfd 0%,
    #fff5f9 23.87%,
    #fe88b3 100%
  );
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--color-black);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}

.container {
  width: 1248px;
  margin: 0 auto;
}

main {
  width: 1280px;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title-text {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.title-text-two {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.bottom-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

/* _______________________________HEADER_________________________ */

.page-header > .container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.navigation-menu {
  display: flex;
  gap: 28px;
}

.page-header .order-button {
  margin-left: 30px;
}

.navigation-menu-link {
  display: block;

  padding-top: 28px;
  padding-right: 0px;
  padding-bottom: 28px;
  padding-left: 0px;

  font-style: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 14px;
  line-height: 1.14;

  color: inherit;
}

.navigation-menu-link:hover,
.navigation-menu-link:focus {
  font-weight: 700;
  text-decoration: underline;

  color: var(--color-button-green);
}

.order-button {
  min-width: 98px;
  height: 32px;
  padding: 6px 18px;

  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;

  border: 0px;
  border-radius: 30px;
  background-color: var(--color-button-green);
}

.order-button:focus,
.order-button:hover {
  cursor: pointer;
  background-color: var(--color-yellow-main);
}
/* _______________________________/HEADER_________________________ */
/* ___________________________ ABOUT ______________________________ */

/* .about {} */

.container-about {
  display: flex;
}
.container-text-about {
  margin-left: 160px;
  padding-top: 85px;
}
/* .about-img {} */
.about-title {
  width: 527px;
}
.about-bottom-text {
  width: 527px;
}
.about-list {
  display: flex;
  gap: 67px;
}

.about-item {
  margin-bottom: 32px;
}

.about-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.about-text {
  font-size: 14px;
  line-height: 1.5;
  width: 253px;
}

.about-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  width: 106px;
  min-height: 40px;
  background-color: var(--color-white);
  border: 2px solid var(--color-dark-green);
  border-radius: 30px;
}

.about-btn:is(:hover, :focus) {
  background-color: var(--color-button-green);
  transition-duration: 0.5s;
  cursor: pointer;

}
