:root {
    --main-text-color: #2C2C2C;
}
body {
    font-family: Roboto, sans-serif;
    color: var(--main-text-color);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* zeroing margin&padding */
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
/* style for img */
img {
    display: block;
    max-width: 100%;
    height: auto;
}